.homePage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addTalkBlock {
    display: flex;
    justify-content: center;
}

.talkList {
    padding-top: 50px;
}

.inputItem {
    margin: 10px;
    display: block;
    width: 300px;
}